doctype html
html
	head
		title= title
	body
		p= message1
			<a href = '/m1' >Click</a>
		p= message2
			<a href = '/m2' >Click</a>
		p= message3
			<a href = '/m3' >Click</a>
		p= message4
			<a href = '/m4' >Click</a>
		p= message5
			<a href = '/m5' >Click</a>